<div class="pagina-principal">
  <h2 style="color: #e97108; text-decoration: underline;">MENU PRINCIPAL</h2>
  <div class="contendor">
    <a href="/players/filtros" class="filtrar-jugadores">
      <button class="filtrar-jugadores">Buscar Jugadores</button>
    </a>
    <a href="/players/one-player"
      ><button class="jugador-especifico">Buscar un Jugador</button>
    </a>
    <a href="/players/compare-player"
    ><button class="jugador-especifico">Estadistica del jugador</button>
  </a>
    <a href="/players/create-player"
      ><button class="crear-jugador">Crear un Jugador</button></a
    >
    <a href="/players/edit-delete-player"
      ><button class="eliminar-jugador">Editar Jugador</button></a
    >

  </div>
</div>
