<header class="header-container">
    <nav class="nav-container">
        <a href="/home" class="home-icon">
            <i class="fa-solid fa-house"></i>
        </a>
        <ul class="nav-links">
            <li><a href="/players/filtros">Buscar Jugadores</a></li>
            <li><a href="/players/one-player">Buscar un jugador</a></li>
            <li><a href="/players/compare-player">Estadistica del jugador</a></li>
            <li><a href="/players/create-player">Crear Jugador</a></li>
            <li><a href="/players/edit-delete-player">Editar Jugador</a></li>

        </ul>
    </nav>
</header>
